{% extends 'base.html' %}

{% block title %}
    <title>House Wars - Add House Points</title>
{% endblock %}

{% block formtitle %}
    <h1 id='header' class="text-center mt-1 mb-4">Add House Points</h1>
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    {{ form.media.js }}

    {{ form.as_p }}

    <div class="form-group d-flex justify-content-center">
        <input id='submit' class="btn btn-outline-primary btn-100" type="submit" value="Submit" />
    </div>
</form>
{% endblock %}