{% extends 'base.html' %}

{% block title %}
    <title>House Wars - Add House Points</title>
{% endblock %}

{% block formtitle %}
    <h1 class="text-center mt-1 mb-4">Add House Points</h1>
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    {{ form.media.js }}
    
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{  message.tags  }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {{ form.as_p }}

    <div class="form-group d-flex justify-content-center">
        <input class="btn btn-outline-primary btn-100" type="submit" value="Submit" />
    </div>
</form>
{% endblock %}